<footer class="footer bg-dark rounded-top text-center">
  <!-- py = padding en el eje y  -->
  <div class="container py-2">
    <!-- my = margen en el eje y de dos  -->
    <p class="text-white my-2">
      &copy; {{ autor.nombre + " " + autor.apellido }}
    </p>
  </div>
</footer>
