<!-- Todas las class son de bootstrap -->

<button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">{{ habilitar==true? 'Ocultar':'Mostrar' }}</button>
<div class="card">
  <div class="card-header">
    Listado de cursos
  </div>
  <ul class="list-group" *ngIf="habilitar">
    <!-- *ngFor genera un li por cada elemento de la lista creada en directiva.component.ts -->
    <li class="list-group-item" *ngFor="let curso of listaCurso">{{ curso }}</li>
  </ul>
</div>
