<app-header> </app-header>

<div class="container my-5 wrap">

<!-- Directiva angular para indicar donde se va a renderizar y mostrar el contenido de cada ruta -->
<router-outlet> </router-outlet>

</div>




<app-footer></app-footer>
