<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/clientes/form']">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0"  class="alert alert-info">
      No hay registros en la base de datos!
    </div>

    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>email</th>
            <th>fecha</th>
            <th>editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido | uppercase }}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy" }}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(cliente)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Inyectamos el elemento a paginator.component.ts -->
    <paginator-nav *ngIf="paginador" [paginador] = 'paginador'></paginator-nav>
  </div>
</div>
