<!-- Si existen errores -->
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <!-- Es la lista que tenemos definida en form.component.ts  -->
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
    <div class="card-body">
      <!-- Asignamos una variable global para saber si el formulario es valdio  -->
      <form #clienteForm="ngForm">
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <!-- El [(ngModel)]="----" es para mapear el formulario a un objeto del modelo -->
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->
            <!-- El primero nos muestra el mensaje de error mientras escribimos, el segundo cuando hacemos click fuera -->
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf="nombre.errors.required">
                El nombre es requerido
              </div>
              <div *ngIf="nombre.errors.minlength">
                El nombre debe tener al menoss 4 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel"> <!-- required -->
            <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
              <div *ngIf="apellido.errors.required">
                El apellido es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="createAt" class="col-form-label col-sm-2">Fecha de creación</label>
          <div class="col-sm-6">
            <input matInput [matDatepicker]="picker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="display:inline; width: 300px;">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2">Email</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!-- required email -->
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors.required">
                El email es requerido
              </div>
              <div *ngIf="email.errors.email">
                El email no es valido
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <!-- (ngIf): Si el id del cliente es distinto, vamos a mostrar el botón crear, si no, muestra el template  -->
            <!-- (disabled): Si el fomrulario es valido, es la negacion de es valido, es false, por lo que habilita el botón  -->
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
            <!-- Creamos el template con el nombre en # para mostrar si el ID es el mismo -->
            <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
          </div>
        </div>
      </form>
    </div>
</div>
